<div class="center">
  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>

        <input matInput type="email" formControlName="email" />

        <mat-error *ngIf="form.controls['email'].hasError('required')">
          El correo es requerido
        </mat-error>

        <mat-error *ngIf="form.controls['email'].hasError('email')">
          Correo con formato invalido.
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Ingresar
      </button>
    </form>

  </mat-card>
</div>
